<h1>Editando usuário: {{user.name}}</h1>
<form action='/users/update' method='POST' class='form'>
  <input type='hidden' name='id' value='{{user.id}}' />
  <div class='form-control'>
    <label for='name'>Nome</label>
    <input
      type='text'
      name='name'
      id='name'
      required
      placeholder='Digite o nome de usuário'
      value='{{user.name}}'
    />
  </div>
  <div class='form-control'>
    <label for='occupation'>Ocupação do usuário</label>
    <input
      type='text'
      name='occupation'
      id='occupation'
      required
      placeholder='Digite a ocupação do usuário'
      value='{{user.ocuppation}}'
    />
  </div>
  <div class='form-checkbox'>
    {{#if user.newsletter}}
      <input type='checkbox' name='newsletter' checked />
    {{else}}
      <input type='checkbox' name='newsletter' />
    {{/if}}
    <label for='newsletter'>Enviar Promoções</label>
  </div>
  <input type='submit' value='Editar' />
</form>